.normal
    background: $normal
.fighting
    background: $fighting
.flying
    background: $flying
.poison
    background: $poison
.ground
    background: $ground
.rock
    background: $rock
.bug
    background: $bug
.ghost
    background: $ghost
.steel
    background: $steel
.fire
    background: $fire
.water
    background: $water
.grass
    background: $grass
.electric
    background: $electric
.psychic
    background: $psychic
.ice
    background: $ice
.dragon
    background: $dragon
.dark
    background: $dark
.fairy
    background: $fairy
.unknown
    background: $unknown
.shadow
    background: $shadow
// BORDER
.borda-normal
    border-color: $normal
.borda-fighting
    border-color: $fighting
.borda-flying
    border-color: $flying
.borda-poison
    border-color: $poison
.borda-ground
    border-color: $ground
.borda-rock
    border-color: $rock
.borda-bug
    border-color: $bug
.borda-ghost
    border-color: $ghost
.borda-steel
    border-color: $steel
.borda-fire
    border-color: $fire
.borda-water
    border-color: $water
.borda-grass
    border-color: $grass
.borda-electric
    border-color: $electric
.borda-psychic
    border-color: $psychic
.borda-ice
    border-color: $ice
.borda-dragon
    border-color: $dragon
.borda-dark
    border-color: $dark
.borda-fairy
    border-color: $fairy
.borda-unknown
    border-color: $unknown
.borda-shadow
    border-color: $shadow