
.pokemon-main-div .titulo
    display: flex
    flex-direction: row
    align-items: center
    margin-left: 10%
.pokenome
    text-transform: capitalize
    margin-left: 10px
.pokemon-main-div .tipos
    display: flex
    flex-direction: row
    align-items: center
.pokemon-main-div .texto-tipo
    letter-spacing: 1px
.pokemon-foto
    border-radius: 5px
    padding: 5px
    padding: 15px
    display: flex
    align-items: center
    justify-content: center
    background: $gray-6
.pokemon-main-div .fotogrande
    max-width: 375px
.pokemon-main-div .infos
    border-radius: 5px
    padding: 15px
    background: $gray-6
.infos h3
    margin: 5px 0
    color: $white
.poke-descricao
    border-radius: 5px
    padding: 5px
    margin-bottom: 5px
    background: $gray-4
.poke-extrainfo
    border-radius: 5px
    padding: 5px
    background: $gray-4
    margin-bottom: 5px
.poke-tipos
    border-radius: 5px
    padding: 5px
    background: $gray-4
    margin-bottom: 5px
.pokemon-main-div .normal
    background: $normal
.pokemon-main-div .fighting
    background: $fighting
.pokemon-main-div .flying
    background: $flying
.pokemon-main-div .poison
    background: $poison
.pokemon-main-div .ground
    background: $ground
.pokemon-main-div .rock
    background: $rock
.pokemon-main-div .bug
    background: $bug
.pokemon-main-div .ghost
    background: $ghost
.pokemon-main-div .steel
    background: $steel
.pokemon-main-div .fire
    background: $fire
.pokemon-main-div .water
    background: $water
.pokemon-main-div .grass
    background: $grass
.pokemon-main-div .electric
    background: $electric
.pokemon-main-div .psychic
    background: $psychic
.pokemon-main-div .ice
    background: $ice
.pokemon-main-div .dragon
    background: $dragon
.pokemon-main-div .dark
    background: $dark
.pokemon-main-div .fairy
    background: $fairy
.pokemon-main-div .unknown
    background: $unknown
.pokemon-main-div .shadow
    background: $shadow

@media (max-width: $layout-breakpoint-small)
    .col
        flex-basis: auto
    .pokemon-foto
        margin-bottom: 10px
    .pokemons-lista-evol h5
        font-size: 0.85em
