// libraries
    
//base
@import 'base/variables'

//components

@import 'components/pokemon'
@import 'components/pokeagenda'
@import 'components/attacks'
@import 'components/habilidades'

body
    background: $white
    font-family: $font

.jumbotron
    padding: 10px
    margin-bottom: 10px
    border-radius: 0px