// libraries
    
//base
@import 'base/variables'
@import 'base/pokeclasses'

//components

@import 'components/pokemon'
@import 'components/pokeagenda'
@import 'components/attacks'
@import 'components/habilidades'
@import 'components/tipopokemon'
@import 'components/statusbase'
@import 'components/evolucoes'
@import 'components/geracoes'

body
    background: $white
    font-family: $font
.badge
    margin-left: 2px
.jumbotron
    padding: 10px
    margin-bottom: 0px
    border-radius: 0px
.div-busca
    border: 1px solid $cinza-claro
.div-resultado
    background: $cinza-clarissimo    
.div-habilidades
    background: $cinza-claro
    margin: 0px
    padding: 5px
.div-attacks
    background: $cinza-escuro
    margin: 0px
    padding: 5px
.header a
    text-align: center
    color: $cinza-escurao
.header a:hover
    text-decoration: none
    color: $cinza-escuro
.header
    display: flex
    align-items: center;
.logo b    
    margin-left: 5px