// libraries
    
//base
@import 'base/variables'

//components

@import 'components/pokemon'
@import 'components/pokeagenda'
@import 'components/attacks'
@import 'components/habilidades'

body
    background: $white
    font-family: $font

.jumbotron
    padding: 10px
    margin-bottom: 0px
    border-radius: 0px
.div-busca
    border: 1px solid $cinza-claro
.div-resultado
    background: $cinza-clarissimo    
.div-habilidades
    background: $cinza-claro
    margin: 0px
    padding: 5px
.div-attacks
    background: $cinza-escuro
    margin: 0px
    padding: 5px